$bg-0: #fff;
$bg-1: darken($bg-0, 2%);
$bg-2: darken($bg-1, 5%);

$text-0: darken($bg-0, 87%);
$text-1: darken($bg-0, 75%);
$text-2: darken($bg-0, 65%);

:root.light {
  color-scheme: light;

  --text-0: #{$text-0};
  --text-1: #{$text-1};
  --text-2: #{$text-2};

  --bg-0: #{$bg-0};
  --bg-1: #{$bg-1};
  --bg-2: #{$bg-2};

  --border-color: var(--bg-2);

  --primary-color: #00a6f4;
  --hover-color: black;

  --red-fg: #fb2c36;
  --green-fg: #00c950;
  --blue-fg: #00a6f4;
  --purple-fg: #ad46ff;
  --yellow-fg: #f0b100;

  --icon-filter: none;
}
