.markdown-alert-note {
  --alert-color: var(--blue-fg);
  --alert-text: "Note";
  --alert-icon: url("icons/info.svg");
}

.markdown-alert-tip {
  --alert-color: var(--green-fg);
  --alert-text: "Tip";
  --alert-icon: url("icons/paperclip.svg");
}

.markdown-alert-important {
  --alert-color: var(--purple-fg);
  --alert-text: "Important";
  --alert-icon: url("icons/alert-circle.svg");
}

.markdown-alert-warning {
  --alert-color: var(--yellow-fg);
  --alert-text: "Warning";
  --alert-icon: url("icons/alert-triangle.svg");
}

.markdown-alert-caution {
  --alert-color: var(--red-fg);
  --alert-text: "Caution";
  --alert-icon: url("icons/alert-octagon.svg");
}

[class^="markdown-alert"] {
  position: relative;
  border-left-color: var(--alert-color);

  &::before {
    font-weight: bold;
    color: var(--alert-color);
    content: var(--alert-text);
    margin-inline-start: calc(1em + 0.5rem);
  }

  &::after {
    position: absolute;
    content: "";

    mask-image: var(--alert-icon);
    -webkit-mask-image: var(--alert-icon);
    mask-size: cover;
    -webkit-mask-size: cover;

    color: var(--alert-color);
    background-color: currentColor;

    width: 1rem;
    height: 1rem;
    line-height: 0;
    inset-block-start: .25rem;
    inset-inline-start: 1em;
  }
}
