img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 0.5rem;
}

figure {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure figcaption {
  text-align: center;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}

figure figcaption::before {
  content: "↳ ";
  font-weight: bold;
  color: var(--primary-color);
}
