{% macro list_post(page) %}
    <li class="list-item">
        <section>
            <div class="post-header">
                <time>{{ page.date | date(format="%Y-%m-%d") }}</time>

                <div>
                    <h1 class="title">
                        <a href={{ page.permalink | safe }}>{{ page.title }}</a>

                        {% if page.draft %}
                            <span class="draft-label">DRAFT</span>
                        {% endif %}
                    </h1>

                    <div class="meta">
                        <div class="description">
                            {% if page.description %}
                                {{ page.description }}
                            {% elif page.summary %}
                                {{ page.summary | safe }}
                            {% else %}
                                {% set hide_read_more = true %}
                            {% endif %}
                        </div>

                        {% if not hide_read_more %}
                            <a class="readmore" href={{ page.permalink | safe }}>Read more ⟶</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </li>
{% endmacro list_post %}

{% macro list_posts(pages) %}
    <ul>
        {%- for page in pages %}
            {{ post_macros::list_post(page=page) }}
        {% endfor -%}
    </ul>
{% endmacro list_posts %}


{% macro cards_post(page, media_height=400) %}
    <div class="card">
        {% if page.extra.local_image or page.extra.remote_image or page.extra.local_video or page.extra.remote_video %}
            <div class="card-media">
                {% if page.extra.local_image %}
                    {% set path = page.extra.local_image %}
                    {% if path is not starting_with("/") %}
                        {% set path = page.relative_path | split(pat="/") | slice(end=-1) | join(sep="/")  %}
                        {% set path = path ~ "/" ~ page.extra.local_image %}
                    {% endif %}
                    {% set image = resize_image(path=path, height=media_height, op="fit_height", format="webp") %}
                    <img class="card-image" alt="{{ page.title }}" src="{{ image.url }}" />
                {% elif page.extra.remote_image %}
                    <img class="card-image"
                         alt="{{ page.title }}"
                         src="{{ page.extra.remote_image }}" />
                {% elif page.extra.local_video %}
                    {% set video_path = page.extra.local_video %}
                    {% if video_path is not starting_with("/") %}
                        {% set video_path = page.relative_path | split(pat="/") | slice(end=-1) | join(sep="/")  %}
                        {% set video_path = path ~ "/" ~ page.extra.local_video %}
                    {% endif %}
                    <video class="card-video" controls loop muted>
                        <source src="{{ video_path | safe }}" />
                    </video>
                {% elif page.extra.remote_video %}
                    <video class="card-video" controls loop muted>
                        <source src="{{ page.extra.remote_video | safe }}" />
                    </video>
                {% endif %}
            </div>
        {% endif %}

        <div class="card-content">
            <h1 class="card-title">
                {% if page.extra.link_to %}
                    <a href={{ page.extra.link_to }}>{{ page.title }}</a>
                {% elif page.content %}
                    <a href={{ page.permalink | safe }}>{{ page.title }}</a>
                {% else %}
                    {{ page.title }}
                {% endif %}
            </h1>

            {% if page.description %}
                <p class="card-tagline">
                    {{ page.description | markdown(inline=true) | safe }}
                </p>
            {% endif %}

            {% if page.extra.github or page.extra.demo or page.extra.tags %}
                <div class="card-footer">
                    {% if page.extra.github or page.extra.demo or page.extra.link_to %}
                        <div class="card-links">
                            {% if page.extra.link_to %}
                                {{ components::icon_button(href=page.extra.link_to,
                                                                        text="Link",
                                                                        icon="globe") }}
                            {% endif %}
                            {% if page.extra.github %}
                                {{ components::icon_button(href=page.extra.github,
                                                                        text="GitHub",
                                                                        icon="github") }}
                            {% endif %}
                            {% if page.extra.demo %}
                                {{ components::icon_button(href=page.extra.demo,
                                                                        text="Demo",
                                                                        icon="globe") }}
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if page.extra.tags %}
                        <div class="card-tags">
                            {%- for tag in page.extra.tags | sort | slice(end=4) -%}
                                <span class="card-tag">#{{ tag }}</span>
                            {%- endfor -%}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro cards_post %}

{% macro cards_posts(pages, columns=2, media_height=200) %}
    <div class="cards{% if columns > 1 %} small-cards{% endif %}"
         style="--columns: {{ columns }}">

        {%- for page in pages %}
            {{ post_macros::cards_post(page=page, media_height=media_height) }}
        {% endfor -%}
    </div>
{% endmacro cards_posts %}



{% macro page_header(title) %}
    {% if title %}
        <div class="page-header">
            {{ title }}
        </div>
    {% endif %}
{% endmacro page_header %}

{% macro site_title() %}
    {{ config.title | default(value="Home") }}
{% endmacro %}
