{% set path = path | default(value=page.colocated_path ~ name) %}
{% set image_meta = get_image_metadata(path=path) %}

{% set width = width | default(value=image_meta.width) %}
{% set height = height | default(value=image_meta.height) %}

<figure>
{% if image_meta.format == "svg" %}
     {{ load_data(path=path, required=true) | safe }}
{% else %}
     {% set op = op | default(value='fit_width') %}
     {% set format = format | default(value='auto') %}
     {% set quality = quality | default(value=80) %}
     {% set img = resize_image(path=path, width=width, height=height, op=op, format=format, quality=quality) %}

     {% set loading = loading | default(value='lazy') %}
     {% set decoding = decoding | default(value='async') %}
     {% set style = style | default(value='') %}

     {% set alt = alt | default(value='') %}
     {% set body = body | default(value='') %}

     <img aspect-ratio="{{ width }} / {{ height }}"
         src="{{ img.url }}"
         alt="{{ alt }}"
         style="{{ style }}"
         loading="{{ loading }}"
         decoding="{{ decoding }}"
         class="{{ class | default(value='') }}" />
{% endif %}

    <figcaption>{{ body | markdown(inline=true) | safe }}</figcaption>
</figure>
